body {
    margin: 0;
    padding: 0;
    background-image: url(../img/golf_course.jpg);
    background-size: cover;
}
#container {

    width: 1400px;
    height: 1000px;
    margin: auto;
    margin-top: 100px;

}


#container-inner {
    height: 700px;
    width: 1300px;
    background: rgba(500, 500, 500, .9);
    margin: auto;
    box-sizing: border-box;
    border-radius: 30px;

}


#courseSelect {
    margin: auto;
    padding-top: 200px;
    width: 50%;
    height: 100px;


}
#courseSelect p {
    display: inline;
    margin-left: 30%;
}

